# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Closed'
      'submenu': [
        {
          'label': 'Open File'
          'command': 'closed:Open File'
        }
      ]
    ]
  }
]
